.user-sign-in-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-image: url('../../../public/login-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  //   background: black;
  //   background: radial-gradient(circle, rgba(115, 115, 115, 1) 0%, rgba(5, 4, 1, 1) 100%);

  .main-container {
    background-color: #1a202c;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    border-radius: 8px;
    width: 50%;

    input {
      //   background-color: rgb(236, 236, 236);
      padding: 0.5rem;
      border-radius: 8px;
    }

    h1 {
      font-size: 2rem;
      text-align: center;
    }

    .gradient-line {
      height: 2px; /* Adjust the thickness of the line */
      background-image: linear-gradient(to right, #00b5d8, #3b82f6); /* Gradient color */
      border: none; /* Remove any default borders */
      width: 100%; /* Full width */
      margin: 0.2rem;
    }

    .input-item {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .forget-password-wrapper{
      display: flex;
      justify-content: right;
      a {
        width:fit-content;
        align-items: right;
        text-decoration: none;
        color: white;
        font-size: 0.7rem;
      }
    }

    

    .reset-password{
        text-align: right;

        &:hover{
          text-decoration: underline;
          text-decoration-color: #00b5d8;
        }
    }

    .sign-up:hover{
      text-decoration: underline;
      text-decoration-color: #00b5d8;
    }

    .sign-up-wrapper {
      font-size: 0.7rem;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 640px) {
  .user-sign-in-page {
    padding: 2rem;
    .main-container {
      width: 100%;
    }
  }
}
