.about-header {
  color: blue;
}

.testcss {
  background-color: pink;
}

.container {
  background-color: salmon;
  .text {
    background-color: royalblue;
    .span-text {
      font-size: 3.5rem;
    }
  }
}
