@use "../../variables.scss" as var;

.reset-password-form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var.$testing-background;
  font-family: Arial, sans-serif;
  color: #fff;

  .form-card {
    h2{
      margin-top:0.5rem;
    }
    button{
      width: 100%;
    }
    background: var.$testing-secbackground;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
    width: 340px;
    text-align: center;

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 14px;
      margin-bottom: 20px;
      color: #aaa;
    }
  }

  .form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 1.5rem 0;

    label {
      font-size: 14px;
      margin-bottom: 6px;
    }

    input {
      padding: 10px 12px;
      border-radius: 6px;
      border: 1px solid #2e3448;
      font-size: 14px;

      &:focus {
        outline: none;
        border-color: #4a90e2;
        box-shadow: 0 0 4px #4a90e2;
      }
    }

  }

 
}
